@using Data.Movie
@using Data.ViewModels
@using Client.Pages
@using System.Collections.Generic


<div class="movie-detail">
    @if (this.Movie != null)
    {
        <span>@this.Movie.Title</span>
    }
    else
    {
        <span>Couldn't find movie...</span>
    }
</div>

@code {
    [Parameter]
    public MovieDetailViewModel Movie { get; set; }
}
