@using Data.Movie
@using Data.ViewModels
@using Client.Pages
@using System.Collections.Generic

<h3>MovieDetail</h3>

@if(this.Movie != null)
{
    <span>@this.Movie.Title</span>
}
else
{
    <span>Couldn't find movie...</span>
}

@code {
    [Parameter]
    public MovieDetailViewModel Movie { get; set; }
}
