@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="~/" />
    <title>OMDb API</title>
    @*<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="css/site.css" rel="stylesheet" />*@
    <link href="css/sass/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<Client.App>(RenderMode.ServerPrerendered))
    </app> 

    <script id="blazorMode"></script>
    <script>
        document.getElementById("blazorMode").src = window.location.search.includes("mode=client") ? "_framework/blazor.webassembly.js" : "_framework/blazor.server.js";
    </script>
</body>
</html>