@page  "/movies"

@using Data.Movie
@using Data.ViewModels
@using OMDbPW1ClientSide.Pages
@using System.Collections.Generic
@inject MovieService MovieService

<h3>Movies</h3>

<form>
    <input @bind="@this.Searched" placeholder="name"/>
    <button type="button" @onclick="this.GetMovie">Get movie!</button>
    Year: <input type="checkbox" @bind="this.SearchYear"/>
    @if(this.SearchYear)
    {
        <input type="number" @bind="this.Year" placeholder="year"/>
    }

    Type: <input type="checkbox" @bind="this.SearchType"/>
    @if(this.SearchType)
    {
        <input @bind="this.Type" placeholder="type"/>
    }
</form>

@if (this.SearchedMovies != null)
{
    <ul class="movies">
        @foreach (var movie in this.SearchedMovies)
        {
            <li class="movies-movie"> <MovieDisplay Movie="@movie"/> </li>
        }
    </ul>
}

@code {
    private IEnumerable<MovieViewModel> SearchedMovies;

    private bool SearchYear;
    private bool SearchType;

    private int Year = 2000;
    private string Type;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public string Searched { get; set; } = "";
    public async Task GetMovie()
    {
        this.SearchedMovies = await this.MovieService.SearchAsync(this.Searched, this.SearchType? this.Type : null, this.SearchYear? this.Year : -1);
        this.StateHasChanged();
    }
}
