@import "../abstracts/variables"

.movies
    margin-top: 80px
    display: flex
    flex-wrap: wrap
    justify-content: center
    list-style: none

    // display: grid
    // grid-auto-flow: column
    // row-gap: 40px
    // column-gap: 40px
    // grid-template-columns: repeat(auto-fit, 600px);

    &-movie
        margin: 24px
        width: 360px
        animation: fadeIn 1s
        // width: min(100%, 500pxo)

.movies-root
    width: 90%
    // margin-top: 60px
    padding-top: 60px
    margin-left: 5%
    margin-right: 5%
    display: flex
    flex-flow: column
    justify-content: center

    form
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap


.movies-selected
    background-color: rgba(0, 0, 0, 0.7)
    position: fixed
    width: 100%
    min-height: 100vh
    z-index: $selected-index
    display: flex
    justify-content: center
    align-items: center
    animation: plainFadeIn 200ms linear

    &-close
        position: absolute
        right: 30px
        top: 30px
        text-decoration: underline

.movies-selected:hover
    // cursor: pointer

@keyframes fadeIn 
    0% 
        transform: scale(0)
        opacity: 0.0 

    60%
        transform: scale(1.05)

    80% 
        transform: scale(0.85)
        opacity: 1

    100% 
        transform: scale(1)
        opacity: 1


@keyframes plainFadeIn 
    0% 
        opacity: 0.0 

    100%
        opacity: 1.0
