.loading-bar
    width: 100%
    text-align: center
    background-color: red
    height: 0
    transition-delay: 4s
    // max-height: 100px

    // span
    //     // font-size: 1.3rem
    //     font-size: 3rem
    //     font-weight: 300
.loading
    transition-delay: 0s
    height: 1000px